<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_board_item_path(@item.board, @item) %> |
  <%= link_to "Back to items", board_items_path %>

  <%= button_to "Destroy this item", board_item_path(@item), method: :delete %>
</div>
